:root {
  --alpha: rgb(255, 0, 0);
  --betha: rgb(255, 115, 0);
  --gamma: rgb(255, 251, 0);
  --delta: rgb(72, 255, 0);
  --theta: rgb(0, 255, 213);
  --lambda: rgb(0, 42, 255);
  --omicron: rgb(123, 0, 255);
  --sigma: rgb(255, 0, 200);
  --omega: rgb(255, 0, 0);

  --textst: ;
  --textnd: ;
  --textrd: ;
}

.navbar,
body {
  transition: background-color 1.2s ease, color 1.2s ease;
}

.animasi {
  animation: moveText 3s linear infinite;
}

.bg-img {
  background-image: url("../assets/img/bg-project.jpg");
  background-size: cover;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.9)
  );
}

/* Make Text Color Gradient : START*/
.text-gradient {
  background: linear-gradient(45deg, rgb(32, 70, 238), #1db1eb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/* Make Text Color Gradient : END*/

/* Make Neon Button : START*/
.neon span {
  font-family: "Spartan";
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  text-align: center;
}
.neon {
  position: relative;
  margin: 250px auto 0;
  /* width: 500px;
	height: 250px;
	background: linear-gradient(0deg, #1d1e22, #42444d); */
}
.neon:before,
.neon:after {
  content: "";
  /* border-radius: 50%; */
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    var(--alpha),
    var(--gamma),
    var(--theta),
    var(--lambda),
    var(--sigma),
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: glow 50s linear infinite;
}
.neon:after {
  filter: blur(30px);
}
@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 500% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* Make Neon Button : End */

.btnfx:hover{
  background-color: gray;
  font-weight: 700;
}

.img-project{
  max-height: 8rem;
}

.bg-neon{
  position: relative;
  margin: 0px auto 0;
}

.bg-neon:before,
.bg-neon:after {
  content: "";
  /* border-radius: 50%; */
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    var(--alpha),
    var(--betha),
    var(--gamma),
    var(--delta),
    var(--theta),
    var(--lambda),
    var(--sigma),
    var(--omega),
    var(--omicron)
  );
  background-size:400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: glow 20s linear infinite;
  filter: blur(0px);
}

.neon-text {
  font-size: 2em; /* Sesuaikan dengan ukuran teks yang diinginkan */
  font-family: 'Arial', sans-serif; /* Sesuaikan dengan jenis font yang diinginkan */
  color: #fff; /* Warna teks dasar */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
}

